html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, 
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, 
dl, dt, dd, ol, ul, li, fieldset, form, label,legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
    border: 0; 
    color: inherit;
    font-size: 100%;
    font: inherit;
    font-family: Lucida Grande, Verdana, Lucida Sans Regular, Lucida Sans Unicode, Arial;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: url('images/typewriter.jpg');
    background-position: -100px -50px;
    background-size: 300px auto;
}

h2, li {
    font-family: 'Inconsolata', monospace;
}

h1 {
    font: 1.5em 'Lobster', cursive;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.5em;
    color: #ff0303;
}

ul {
    float: right;
    list-style-type: none;
    margin-left: 10px;
}

ul:last-child {
    margin-left: 0;
}

li {
    display: block;
}

#content {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#content .stuff {
    background: #fff;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 20px;
    padding: 30px;
}

#content .the_fun_bit {
    margin: 20px 0;
    overflow: auto;
    width: 100%;
}

#content .the_fun_bit:after {
    content: '';
    display: table;
    width: 100%;
}

.social {
    left: 20px;
    position: fixed;
    bottom: 20px;
}

.social li, .social a {
    border-radius: 50%;
}

.social li {
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 3px;
    float: left;
    height: 50px;
    opacity: 0.6;
    transition: opacity 0.3s;
    width: 50px;
}

.social li:hover {
    opacity: 1;
}

.social a {
    display: block;
    height: 100%;
    opacity: 50%;
    width: 100%;
}

.twitter { 
    background-color: #55acee;
    background-image: url('images/twitter.png');
} 

.github { 
    background-color: #999;
    background-image: url('images/github.png');
}

.beard { 
    background-color: #343537;
    background-image: url('images/beard.png');
}